*{
    margin: 0px;
    font-family: montserrat;
}

.wrap{
    width: 100%;
    height: 100vh;
    background-color: #F2EAE2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: fit-content;
    width: 343px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 100%;
    justify-content: space-between;
    gap: 10px;
}

.thumbnail{
    background-color: red;
    height: 240px;
}
.text{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.066); */
    width: 100%;
    height: fit-content;
    gap: 12px;
    justify-content: space-between;
}

h3{
    font-size: 12px;
    letter-spacing: 5px;
    color: rgb(153, 153, 153);
}

h1{
    font-family: Fraunces;
}

p{
    font-size: 14px;
    line-height: 23px;
    color: rgb(141, 141, 141);
}
.price{
    /* background-color: green; */
    width: 100%;
    height: 50px;
}
.button{
    background-color: yellow;
    width: 100%;
    height: 50px;
}

.price{
    display: flex;
    align-items: center;
    gap: 16px;
}
.price>span{
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 700;
    color:#3D8168;
}

del{
    color: rgb(144, 144, 144);
}

.cart{
    display: flex;
    height: 50px;
    border-style: none;
    background-color: #3D8168;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cart>p{
    color: white;
    font-weight: 700;
}