*{
    margin:0px
}
.contentwrap{
    padding: 0px 40px;
    width: 100%;
    overflow-y: auto;
}

h2{
    font-size: 70px;
}

.introduction{
    max-width: 800px;
}

.profilepic{
    background-color: black;
    height: 300px;
    width: 300px;
    border-radius: 1000px;
    border: none;
}

.skillmodule{
    width: 100%;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.189);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
}