:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #486975;
  background: -webkit-linear-gradient(
    163deg,
    rgba(72, 105, 117, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -moz-linear-gradient(
    163deg,
    rgba(72, 105, 117, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    163deg,
    rgba(72, 105, 117, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#486975",
  endColorstr="#000000",
  GradientType=0
);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #c7caff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5.2em;
  margin: 0px;
  font-family: "inter";
  font-weight: 400;
  line-height: 5rem;
  color: #e1e8eb;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wrap {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.border{
  border: 0.5px solid rgba(255, 255, 255, 0.434);
  margin: 40px 0px;
}