*{
  margin: 0;
}

body{
  overflow: hidden;
}

.biru{
  color: blue;
}

.nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: rgba(138, 119, 119, 0.22);
  padding: 32px;
  box-sizing: border-box;
  font-family: inter;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.108);
  position: relative;
  z-index: 10;
}

.menu{
  display: flex;
  gap: 8px;
}

.wrap{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}