*{
    margin:0px;
    font-family:figtree
}
.wrapper{
    height: 100vh;
    background-color: #F4D04E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 384px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px black;
    border: 2px solid black;
    overflow: hidden;
    padding: 24px 24px;
    box-sizing: border-box;
    gap: 24px;
}

.thumbnail{
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.text{
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.label{
    background-color: #F4D04E;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 700;
    color: black;
}

.profilepicture{
    height: 32px;
    width: 32px;
    border-radius: 100px;
}

.user{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap:12px;
}

h5{
    font-weight: 500;
}

h2{
    font-weight: 800;
}

p{
    font-weight: 400;
    color: grey;
    line-height: 150%;
}

.profilename{
    font-weight: 800;
}